<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beta.widgets.spring.security.dao.SecuritiesProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.beta.widgets.spring.security.dao.SecuritiesProductInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt8_created" jdbcType="VARCHAR" property="gmt8Created" />
    <result column="gmt8_modified" jdbcType="VARCHAR" property="gmt8Modified" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="his_names" jdbcType="VARCHAR" property="hisNames" />
    <result column="cate_id" jdbcType="BIGINT" property="cateId" />
    <result column="cate_name" jdbcType="VARCHAR" property="cateName" />
    <result column="attr_tags" jdbcType="VARCHAR" property="attrTags" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="transaction_currency" jdbcType="VARCHAR" property="transactionCurrency" />
    <result column="ipo_date" jdbcType="VARCHAR" property="ipoDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.beta.widgets.spring.security.dao.SecuritiesProductInfo">
    <result column="extra_info" jdbcType="LONGVARCHAR" property="extraInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt8_created, gmt8_modified, is_delete, code, name, his_names, cate_id, cate_name, 
    attr_tags, company_name, transaction_currency, ipo_date
  </sql>
  <sql id="Blob_Column_List">
    extra_info
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.beta.widgets.spring.security.dao.SecuritiesProductInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from securities_product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.beta.widgets.spring.security.dao.SecuritiesProductInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from securities_product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from securities_product_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from securities_product_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.beta.widgets.spring.security.dao.SecuritiesProductInfoExample">
    delete from securities_product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.beta.widgets.spring.security.dao.SecuritiesProductInfo">
    insert into securities_product_info (id, gmt8_created, gmt8_modified, 
      is_delete, code, name, 
      his_names, cate_id, cate_name, 
      attr_tags, company_name, transaction_currency, 
      ipo_date, extra_info)
    values (#{id,jdbcType=BIGINT}, #{gmt8Created,jdbcType=VARCHAR}, #{gmt8Modified,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=TINYINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{hisNames,jdbcType=VARCHAR}, #{cateId,jdbcType=BIGINT}, #{cateName,jdbcType=VARCHAR}, 
      #{attrTags,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{transactionCurrency,jdbcType=VARCHAR}, 
      #{ipoDate,jdbcType=VARCHAR}, #{extraInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.beta.widgets.spring.security.dao.SecuritiesProductInfo">
    insert into securities_product_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmt8Created != null">
        gmt8_created,
      </if>
      <if test="gmt8Modified != null">
        gmt8_modified,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="hisNames != null">
        his_names,
      </if>
      <if test="cateId != null">
        cate_id,
      </if>
      <if test="cateName != null">
        cate_name,
      </if>
      <if test="attrTags != null">
        attr_tags,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="transactionCurrency != null">
        transaction_currency,
      </if>
      <if test="ipoDate != null">
        ipo_date,
      </if>
      <if test="extraInfo != null">
        extra_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmt8Created != null">
        #{gmt8Created,jdbcType=VARCHAR},
      </if>
      <if test="gmt8Modified != null">
        #{gmt8Modified,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="hisNames != null">
        #{hisNames,jdbcType=VARCHAR},
      </if>
      <if test="cateId != null">
        #{cateId,jdbcType=BIGINT},
      </if>
      <if test="cateName != null">
        #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="attrTags != null">
        #{attrTags,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="transactionCurrency != null">
        #{transactionCurrency,jdbcType=VARCHAR},
      </if>
      <if test="ipoDate != null">
        #{ipoDate,jdbcType=VARCHAR},
      </if>
      <if test="extraInfo != null">
        #{extraInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.beta.widgets.spring.security.dao.SecuritiesProductInfoExample" resultType="java.lang.Long">
    select count(*) from securities_product_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update securities_product_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmt8Created != null">
        gmt8_created = #{record.gmt8Created,jdbcType=VARCHAR},
      </if>
      <if test="record.gmt8Modified != null">
        gmt8_modified = #{record.gmt8Modified,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.hisNames != null">
        his_names = #{record.hisNames,jdbcType=VARCHAR},
      </if>
      <if test="record.cateId != null">
        cate_id = #{record.cateId,jdbcType=BIGINT},
      </if>
      <if test="record.cateName != null">
        cate_name = #{record.cateName,jdbcType=VARCHAR},
      </if>
      <if test="record.attrTags != null">
        attr_tags = #{record.attrTags,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionCurrency != null">
        transaction_currency = #{record.transactionCurrency,jdbcType=VARCHAR},
      </if>
      <if test="record.ipoDate != null">
        ipo_date = #{record.ipoDate,jdbcType=VARCHAR},
      </if>
      <if test="record.extraInfo != null">
        extra_info = #{record.extraInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update securities_product_info
    set id = #{record.id,jdbcType=BIGINT},
      gmt8_created = #{record.gmt8Created,jdbcType=VARCHAR},
      gmt8_modified = #{record.gmt8Modified,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      his_names = #{record.hisNames,jdbcType=VARCHAR},
      cate_id = #{record.cateId,jdbcType=BIGINT},
      cate_name = #{record.cateName,jdbcType=VARCHAR},
      attr_tags = #{record.attrTags,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      transaction_currency = #{record.transactionCurrency,jdbcType=VARCHAR},
      ipo_date = #{record.ipoDate,jdbcType=VARCHAR},
      extra_info = #{record.extraInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update securities_product_info
    set id = #{record.id,jdbcType=BIGINT},
      gmt8_created = #{record.gmt8Created,jdbcType=VARCHAR},
      gmt8_modified = #{record.gmt8Modified,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      his_names = #{record.hisNames,jdbcType=VARCHAR},
      cate_id = #{record.cateId,jdbcType=BIGINT},
      cate_name = #{record.cateName,jdbcType=VARCHAR},
      attr_tags = #{record.attrTags,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      transaction_currency = #{record.transactionCurrency,jdbcType=VARCHAR},
      ipo_date = #{record.ipoDate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.beta.widgets.spring.security.dao.SecuritiesProductInfo">
    update securities_product_info
    <set>
      <if test="gmt8Created != null">
        gmt8_created = #{gmt8Created,jdbcType=VARCHAR},
      </if>
      <if test="gmt8Modified != null">
        gmt8_modified = #{gmt8Modified,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="hisNames != null">
        his_names = #{hisNames,jdbcType=VARCHAR},
      </if>
      <if test="cateId != null">
        cate_id = #{cateId,jdbcType=BIGINT},
      </if>
      <if test="cateName != null">
        cate_name = #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="attrTags != null">
        attr_tags = #{attrTags,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="transactionCurrency != null">
        transaction_currency = #{transactionCurrency,jdbcType=VARCHAR},
      </if>
      <if test="ipoDate != null">
        ipo_date = #{ipoDate,jdbcType=VARCHAR},
      </if>
      <if test="extraInfo != null">
        extra_info = #{extraInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.beta.widgets.spring.security.dao.SecuritiesProductInfo">
    update securities_product_info
    set gmt8_created = #{gmt8Created,jdbcType=VARCHAR},
      gmt8_modified = #{gmt8Modified,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      his_names = #{hisNames,jdbcType=VARCHAR},
      cate_id = #{cateId,jdbcType=BIGINT},
      cate_name = #{cateName,jdbcType=VARCHAR},
      attr_tags = #{attrTags,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      transaction_currency = #{transactionCurrency,jdbcType=VARCHAR},
      ipo_date = #{ipoDate,jdbcType=VARCHAR},
      extra_info = #{extraInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beta.widgets.spring.security.dao.SecuritiesProductInfo">
    update securities_product_info
    set gmt8_created = #{gmt8Created,jdbcType=VARCHAR},
      gmt8_modified = #{gmt8Modified,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      his_names = #{hisNames,jdbcType=VARCHAR},
      cate_id = #{cateId,jdbcType=BIGINT},
      cate_name = #{cateName,jdbcType=VARCHAR},
      attr_tags = #{attrTags,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      transaction_currency = #{transactionCurrency,jdbcType=VARCHAR},
      ipo_date = #{ipoDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>