<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SSM</display-name>
   <!-- 配置web项目启动的时候创建spring容器 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener </listener-class>
  </listener>
  <!-- 告诉spring去哪里找到住配置文件 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:/config/applicationContext.xml</param-value>
  </context-param>
  
  <!-- 配置前端控制器 -->
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:/config/springmvc.xml</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<!-- *.do拦截所有后缀为.do的请求
  		 / 拦截所有非jsp、静态页面的请求
  		 * 拦截所有
  		 
  		1. *.do *.action 拦截所有 .do .action 结尾的请求
  		2. / 拦截所有请求（不包含.jsp） (包含.jsp .css .png) 真拦截所有
  		        不拦截页面.jsp 配置对静态资源放行 建议使用此种方法
  		3. /* 拦截所有请求 （包含 .jsp .js .css .png） 真拦截所有 不建议使用
  	 -->
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
<!-- 过滤器解决post中文提交乱码 -->
  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>