<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 引入外部properties文件 -->
	<properties resource="db.properties"></properties>
<!-- 	<typeAliases>
	 别名，对该包及其子包起作用，自动识别为类名
		<package name="com.zpark"/>
	</typeAliases>  -->
	<!-- <typeAliases>
		<typeAlias type="com.zpark.pojo.User" alias="User"/>
	</typeAliases> -->
	<!-- 事务管理和数据库连接 -->
	<environments default="development">
		<environment id="development">
	<!-- 事务管理机制
		 JDBC:mhbatis实现事务是通过jdbc来完成的
		 Manager:交给容器管理(以后的spring容器)
	 -->
			<transactionManager type="JDBC"></transactionManager>	
	<!-- 配置数据源
		POOLED:池化管理，创建连接池，池中有连接，每次用时来取，用完放回来
		UNPOOLED:非池化管理，每次创建连接
		Connection:消耗服务器资源
	 -->	
			 <dataSource type="POOLED">
				<property name="driver" value="${mysql.driverClass}"/>
				<property name="url" value="${mysql.jdbcUrl}"/>
				<property name="username" value="${mysql.user}"/>
				<property name="password" value="${mysql.password}"/>
			</dataSource>
			<!--  <dataSource type="POOLED">
 				<property name="driver" value="${oracle.driver}"/>
 				<property name="url" value="${oracle.url}"/>
 				<property name="username" value="${oracle.username}"/>
 				<property name="password" value="${oracle.password}"/>
 			</dataSource>  -->
		</environment>
	</environments>
	<!-- 引入实体类的mapper映射文件 -->
	<mappers>
		<mapper resource="com/zpark/pojo/mapper.xml"/>
	</mappers>
</configuration>